

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
    <title>Title</title>
</head>
<body>
    <h2>Bienvenu dans notre équipe</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'homepage:register' %}" method="get">
            {% csrf_token %}
			<h1>Créer un compte🖊</h1>
			<div class="social-container">
			
			</div>
			<span></span>
			<input type="text" name="prenom" placeholder="Prénom" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Mot de passe" />
			<!-- <input class="button" type="submit" value="login"> -->
			<button>S'inscrire</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" method="post">
            
			<h1>Connexion</h1>
			<div class="social-container">
			
			</div>
			<span>Utilisez votre compte</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Mot de passe" />
			<a href="#">Mot de passe oublié?</a>
			<button>Connexion</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
            <h1>😊</h1>
				<h1>Content de te revoir!</h1>
				<p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
				<button class="ghost" id="signIn">Connexion</button>
			</div>
			<div class="overlay-panel overlay-right">
            <h1>👋</h1>
				<h1>Salut les amis!</h1>
				<p>Entrez vos informations personnelles et commencez votre voyage avec nous</p>
				<button class="ghost" id="signUp">S'inscrire</button>
			</div>
		</div>
	</div>
</div>

</footer>
</body>
</html>
<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>